.featured {
  text-align: center;
}

.featured__line {
  width: 155px;
  height: 2px;
  margin-top: 145px;
  margin-bottom: var(--size-mobile-2xl);
  background-color: var(--neutral-dark-grayish-violet);
  display: inline-block;
}

.featured__heading {
  font-size: var(--size-mobile-xl);
  font-weight: 400;
  font-family: "DM Serif Display", serif;
  margin-bottom: var(--size-mobile-3xl);
}

.featured__grid-container {
  list-style: none;
  padding: 0;
}

.featured__grid-container li {
  margin-bottom: var(--size-mobile-3xl);
}

.featured__icon {
  display: inline-block;
}

.featured__title {
  font-size: var(--size-mobile-lg);
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  margin-top: var(--size-mobile-3xl);
  margin-bottom: 0;
}

/* md */
@media (min-width: 768px) {
  .featured {
    text-align: inherit;
  }

  .featured__line {
    margin-top: 313px;
  }

  .featured__heading {
    font-size: 58px;
  }

  .featured__grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2.5rem;
  }

  .featured__icon {
    display: inline-block;
  }

  .featured__title {
    font-size: var(--size-mobile-lg);
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    margin-top: var(--size-mobile-3xl);
    margin-bottom: 0;
  }
}
