.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
}

.header__menu {
  list-style: none;
  font-size: var(--size-desktop-md);
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 2em;
}

.header__link {
  color: var(--neutral-dark-grayish-violet);
  transition: color 0.3s;
}

.header__link:hover {
  color: var(--primary-dark-violet);
}

.header__hamburger {
  display: none;
}

/* md */
@media (max-width: 768px) {
  .header__menu {
    background-color: var(--neutral-very-dark-violet);
    padding: 54px 2rem 0 2rem;
    position: fixed;
    top: 40px;
    right: -100%;
    height: 100%;
    width: 100%;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  .header__menu[data-open="true"] {
    opacity: 1;
    visibility: inherit;
    right: 0%;
  }

  .header__menu > li:nth-child(4) {
    width: 100%;
  }

  .header__link-button {
    width: 100%;
  }

  .header__hamburger {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
