.hero {
  background-color: var(--primary-dark-violet);
  color: var(--neutral-very-light-gray);
  position: relative;
  isolation: isolate;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 90% 0 auto auto;
  height: 40%;
  width: 20%;
  background-image: url("/public/images/bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 48% auto auto 0;
  height: 100%;
  width: 35%;
  background-image: url("/public/images/bg-pattern-intro-left-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.hero__flex {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.hero__content {
  text-align: center;
}

.hero__title {
  font-size: var(--size-mobile-xl);
  margin-top: 100px;
}

.hero__button {
  margin-bottom: 66px;
}

/* md */
@media (min-width: 768px) {
  .hero::before {
    inset: auto 0 10% auto;
    height: 100%;
    width: 25%;
    background-image: url("/public/images/bg-pattern-intro-right-desktop.svg");
    background-size: contain;
  }

  .hero::after {
    width: 15%;
    inset: 70% auto 0 0;
    background-image: url("/public/images/bg-pattern-intro-left-desktop.svg");
  }

  .hero__flex {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }

  .hero__flex > * {
    flex: 1;
  }

  .hero__content {
    text-align: inherit;
  }

  .hero__line {
    width: 155px;
    height: 2px;
    background-color: var(--neutral-very-light-gray);
  }

  .hero__title {
    font-size: var(--size-desktop-xl);
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 0.9;
    margin-bottom: 0;
  }

  .hero__description {
    margin-top: var(--size-mobile-lg);
    margin-bottom: var(--size-thirty-six);
  }

  .hero__image-container {
    position: relative;
  }

  .hero__image {
    position: absolute;
    z-index: -2;
    inset: 0 0 auto auto;
  }
}
