.hero {
  background-color: var(--primary-dark-violet);
  color: var(--neutral-very-light-gray);
}

.hero__flex {
  display: flex;
}

.hero__line {
  width: 155px;
  height: 2px;
  background-color: var(--neutral-very-light-gray);
}

.hero__title {
  font-size: var(--size-desktop-xl);
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 0.9;
  margin-top: var(--size-desktop-xl);
}

.hero__description {
  margin-top: var(--size-mobile-lg);
}

.hero__image-container {
  position: relative;
}
