@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  /* ### Primary */
  --primary-dark-violet: hsl(256, 26%, 20%);
  --primary-grayish-blue: hsl(216, 30%, 68%);

  /* ### Neutral */
  --neutral-very-dark-violet: hsl(270, 9%, 17%);
  --neutral-dark-grayish-violet: hsl(273, 4%, 51%);
  --neutral-very-light-gray: hsl(0, 0%, 98%);
  --neutral-very-light-gray2: hsl(0, 0%, 94%);

  /* ### Sizes */
  --size-mobile-lg: 1.625rem; /* 26px */
  --size-mobile-xl: 1.875rem; /* 36px */
  --size-mobile-2xl: 3.0625rem; /* 48px */
  --size-mobile-3xl: 3.875rem;
  --size-mobile-4xl: 5.375rem; /* 86px */

  --size-desktop-xs: 0.6875em;
  --size-desktop-sm: 0.625rem; /* 10px */
  --size-desktop-md: 0.875rem;

  --size-desktop-xl: 4.25rem;
  --size-desktop-2xl: 4.425rem;

  --size-thirty-six: 2.25rem;

  --size-default: 1rem;
}

/* other starting values like margin: 0 or */
/* box-sizing: border-box are in modern-normalize file*/

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

* {
  line-height: calc(1em + 0.5em);
}

svg,
img {
  display: block;
  user-select: none;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Karla", "DM Serif Display", serif;
  background-color: var(--neutral-very-light-gray);
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--primary-dark-violet);
  cursor: pointer;
}
