.btn {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--size-desktop-md);
  padding-top: var(--size-desktop-sm);
  padding-bottom: var(--size-desktop-sm);
  background-color: transparent;
  border: 2px solid var(--primary-dark-violet);
  padding-right: var(--size-mobile-xl);
  padding-left: var(--size-mobile-xl);
  letter-spacing: 1px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--primary-dark-violet);
  color: var(--neutral-very-light-gray);
}

.btn.white {
  border: 2px solid var(--neutral-very-light-gray);
  color: var(--neutral-very-light-gray);
}

.btn.white:hover {
  background-color: var(--neutral-very-light-gray);
  color: var(--primary-dark-violet);
}

.container {
  margin-left: var(--size-desktop-2xl);
  margin-right: var(--size-desktop-2xl);
  padding-left: 0.5em;
  padding-right: 0.5em;
  /* border: 1px solid red; */
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
